@import 'abstract/variables';

.Icons {
  position: fixed;
  top: -10000px;
  left: -10000px;
}

/** @define Icon */

.Icon {
  position: relative;
  width: 24px;
  height: 24px;
}

.Icon--small {
  width: 16px;
  height: 16px;
}

.Icon-github {
  fill: var(--color-github);
}

.Icon-twitter {
  fill: var(--color-twitter);
}

.Icon-instagram {
  fill: var(--color-instagram);
}
