@import 'abstract/variables';

/** @define Icon */

.Icon {
  display: inline-block;
}

/* stylelint-disable */
.Icon path {
  fill: var(--color-link-primary);
}
/* stylelint-enable */

.Icon--small {
  width: 16px;
  height: 16px;
}
