@import 'abstract/variables';

/** @define ListGroup */

.ListGroup {
  text-align: center;
}

.ListGroup-col {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  font-weight: 700;
}

@media (min-width: 500px) {
  .ListGroup-col {
    width: 33.3334%;
  }
}

.ListGroup-heading {
  display: inline-block;
  border-bottom: 4px solid var(--color-link-primary);
}

.ListGroup-list {
  list-style: none;
  padding-left: 0;
  line-height: 1.8;
}

/** @define List */

.List {
  list-style: circle;
  padding-left: 18px;
}
