@import 'abstract/variables';

/** @define SectionContainer */

.SectionContainer {
  margin-top: 8vh;
  min-height: 92vh;
}

/** @define Section */

.Section {
  max-width: 960px;
  margin: 0 auto;
}

.Section--center {
  text-align: center;
}

@media (max-width: 999px) {
  .Section--withGutter {
    margin-left: 20px;
    margin-right: 20px;
  }
}
