@import 'abstract/variables';

/** @define SectionContainer */

.SectionContainer {
  margin-top: 10vh;
  min-height: 90vh;
}

/** @define Section */

.Section {
  max-width: 720px;
  margin: 0 auto;
}

.Section--center {
  text-align: center;
}

@media (max-width: 767px) {
  .Section--withGutter {
    margin-left: 24px;
    margin-right: 24px;
  }
}
