footer.Footer
  .Footer-container
    p.Footer-text &copy; Daniel Head 2017
    p.Footer-text
      | The source code is available on
      |
      a.Link.Link--footer(href='https://github.com/danhead/personal-site') Github
