nav.Nav
  ul.Nav-content
    li.Nav-item
      a.Link.Nav-link(
        href='/'
        class=slug === '/' ? 'Nav-link--isActive' : ''
      ) Home
    li.Nav-item
      a.Link.Nav-link(
        href='/developer'
        class=slug === 'developer' ? 'Nav-link--isActive' : ''
      ) Dev
