nav.Nav
  ul.Nav-content
    if back
      li
        a.Link.Link--noUnderline(href='/')
          svg(
            aria-hidden='true',
            viewBox='0 0 20 20'
          ).Icon.Icon--small.Nav-icon
            use(href='#chevron-left')
          | Back
