doctype html
html(lang='en')
  include ../includes/head.pug
  body
    include ../includes/icons.pug
    .SectionContainer
      block content
    include ../includes/nav.pug
    include ../includes/footer.pug
