extends layouts/default.pug

block content
  .ImageWrapper.ImageWrapper--fullWidth
    picture
      source(srcset='images/bar_2560w.jpg',media='(min-width: 1601px)')
      source(srcset='images/bar_1600w.jpg',media='(min-width: 961px)')
      img.Image.Image--fullWidth(src='images/bar_960w.jpg')
  section.Section.Section--withGutter
    h1 My name is Dan Head, I am an experienced Full Stack web developer.
    h2 A little about me
    p I live in Brentwood, Essex and work in Canary Wharf.
    p
      | I've been building web sites since 2008, ranging from small personal
      | projects, to large scale brochureware websites and web applications
      | for large corporations.
    p
      | I specialise in JavaScript, primarily using ES2015+ and React. I'm also
      | super passionate about writing modular CSS that scales from small,
      | bespoke applications, to large component libraries designed for use
      | across many sites.
    p
      | I have experience with Node.js and WordPress theme development. I use
      | Docker Cloud for continuous integration and
      |
      a.Link(
        href='https://m.do.co/c/72112f5e365c'
      ) Digital Ocean
      |
      | to run my Docker nodes.
    p
      | This site is built using Node.js and Express backend, Pug.js for HTML
      | templating and PostCSS. The source code is available on
      |
      a.Link.Link--github(
        href='https://github.com/danhead/personal-site'
      ) Github
      |
      | and is published as a
      |
      a.Link(
        href='https://hub.docker.com/r/suburbanme/personal-site'
      ) Docker image
      | .
    h2 My setup
    ul.List
      li I use a combination of Arch Linux on my desktop PC and a MacBook Air.
      li
        | My editor of choice is
        |
        a.Link(href='http://www.vim.org') Vim
        | . My
        |
        a.Link(
          href='https://github.com/danhead/dotfiles/blob/master/vim/.vimrc'
        ) vimrc
        |
        | file is available in my
        |
        a.Link(href='https://github.com/danhead/dotfiles') dotfiles
        |
        | repository if you're interested in what plugins I'm currently running.
      li
        | I work primarily with Firefox but can occasionally be seen tinkering
        | in Chromium too.
    h2 My Skillset
    .ListGroup
      .ListGroup-col
        h3.ListGroup-heading Core
        ul.ListGroup-list
          li HTML
          li CSS
          li JavaScript
          li Node.js
          li MongoDB
          li PHP
          li MySQL
      .ListGroup-col
        h3.ListGroup-heading Frameworks
        ul.ListGroup-list
          li Angular
          li React.js
          li jQuery
          li Grunt + Gulp
          li Sass + PostCSS
          li Express
      .ListGroup-col
        h3.ListGroup-heading Services
        ul.ListGroup-list
          li Google Maps
          li Google Analytics
          li Facebook
          li Twitter
          li Rollbar
          li oAuth
