extends layouts/default.pug

block content
  section.Section.Section-center
    .ImageWrapper.ImageWrapper-circle
      img.Image.Image-circle(src='images/me_640w.jpg')
  section.Section.Section-center.Section-withGutter
    h1 Hi, I'm Dan Head.
    p
      | I'm a
      |
      a.Link(href='/web-dev') Web developer
      |. I live in Brentwood, Essex.
    p
      | I'm currently employed full time as a senior Front-end Developer at
      |
      a.Link.Link-barclays(href='https://barclays.co.uk') Barclays
      | .
  section.Section.Section-center.withGutter
    h2 Contact
    p You can email me @ danielhead.com.
    p
      | I am @danhead on
      |
      a.Link.Link-twitter(href='https://twitter.com/danhead') Twitter
      |
      | and
      |
      a.Link.Link-github(href='https://github.com/danhead') Github
      | .
