extends layouts/default.pug

block content
  section.Section.Section-center
    .ImageWrapper.ImageWrapper-circle
      img.Image.Image-circle(src='images/me2_640w.jpg')
  section.Section.Section-center.Section-withGutter
    h1 Page not found
    p ¯\_(ツ)_/¯
    a.Link(href='/') Back
