:root {
  --color-background-primary: #f8f8f1;
  --color-background-secondary: #4b88b6;
  --color-font-primary: #1e2641;
  --color-font-secondary: #f8f8f1;
  --color-link-primary: #1e6ffc;
  --color-link-primary-light: #8eb7ff;
  --color-link-secondary: #fff;
  --color-link-secondary-dark: #8a8a8a;
  --color-barclays: #00aeef;
  --color-twitter: #1da1f2;
  --color-github: #24292e;
}

@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
